h1, h2 {
    color: dodgerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    color:crimson;
    text-align: center;
    font-size: large;
}

p {
    font-size: larger;
    font-weight: 800;
}